@import url(minireset.css);

:root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


    --clr-gray1: #4E5150;
    --clr-gray2: #A9A9A9;
    --clr-gray3: #E5E5E5;
    --clr-gray4: #BDBDBD;
    --clr-gray5: #B9BDCF;

    --font-size-s: 0.625rem;
    --font-size-m: 0.75rem;
    --font-size-l: 0.75rem;
    --font-size-xl: 0.875rem;
}

/* * {
    outline: 1px solid salmon;
} */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 30px;
    justify-items: center;
    padding: 17px 0;
    text-align: center;
    color: var(--clr-gray1);
}

/* body {
background: yellow;
}

header {
background: yellowgreen;

}

main {
background: palegreen;
}

footer {
background: palevioletred;
} */

img {
    display: block;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    height: 33vh;
}

.card img {
    width: 22%;
    height: auto;
    margin: 0 auto;
    
}

.card-item:not(:first-child) {
    background-color: var(--clr-gray3);
    padding: 0.75em;
    border-radius: 12px;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-s);
    color: var(--clr-gray2);
}

p {
    font-size: var(--font-size-l);
}

span {
    display: block;
    font-size: var(--font-size-m);
    color: var(--clr-gray4);

}

.wrapper {
    width: clamp(318px, 93%, 960px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0 auto;
}

.wrapper a {
    height: 100%;
    overflow: hidden; /* otherwise container scales on hover */
    border-radius: 12px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.wrapper img {
    height: 100%;
    object-fit: cover;
    transform: scale(1) translate(0, 0);
    transition: transform 400ms 200ms ease-in;
    
   
}

.wrapper img:hover {
    transform: scale(1.1) translate(-3%, -1%);
    transition: transform 1200ms ease-in;
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.row-span-2 {
    grid-row: span 2;
}

footer {
    font-size: 0.875rem;
}

@media screen and (min-width: 768px) {

    :root {
        --font-size-s: 0.875rem;
        --font-size-m: 0.875rem;
        --font-size-l: 1.125rem;
        --font-size-xl: 1.5rem;
    }
}

